/* G-FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* G-FONT */
/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* General Reset */
/* Gloabl CSS */
:root {
  --primary-box-shadow: 5px 5px 1px #0000001e;
  --primary-outline-light: 0000001e;
  --prinary-font: "Roboto", Arial, Helvetica, sans-serif;
}
body {
  font-family: var(--prinary-font);
  background: #f1f1f1;
}

/***************************************/
/* NAVBAR */
/* #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 5vh;
}
.link-menu {
  display: flex;
  list-style: none;
}
.link-menu li a {
  margin: 10px;
  text-decoration: none;
} */

h1 {
  font-size: 24px;
  color: #e11e11;
  text-align: center;
  margin-top: 50px;
}

/* Set the width of the content area */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navigation styles */
nav {
  background-color: #4e4f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  color: #c8c6d3;
  text-decoration: none;
  padding: 10px 20px;

  /* ADDED Transitions */
  transition: all 0.25s ease-in-out;
}

nav a:hover {
  background-color: #c8c6d3;
  color: #333;
}

/***************************************/
/* NAVBAR */
/* APP SECTION ------- */
#app-section {
  position: relative;
  background: #f1f1f1;
  max-width: 900px;
  margin: auto;
}
#snippet {
  /* text-align: center; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  padding: 5rem;
  /* Position - centered */
  /* position: absolute; */
  /* top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* gap: 2rem; */
}
#main-question .question {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  background-color: #4e4f2fc3 !important;
  color: #fff;
  font-size: 1.6rem !important;

  box-shadow: inset 5px 5px 2px #00000048 !important;
}
textarea:focus {
  outline: none;
}
.instruct {
  text-align: center;
}
.instruct span {
  font-weight: bold;
}
.question-img-1 {
  width: 90%;
  box-shadow: var(--primary-box-shadow);
  margin: auto;
  width: 50%;
  outline: 1px solid #000;
  margin-top: 20px;
}
.question-img-2 {
  width: 90%;
  box-shadow: var(--primary-box-shadow);
  margin: auto;
  width: 100%;
  outline: 1px solid #000;
  margin-top: 20px;
}
.questionOne span {
  color: #7c7e3e;
}
form {
  text-align: center;
}
/* code {
  outline: 1px solid #0000001e;
  padding: 10px;
  width: 200px;
  box-shadow: var(--primary-box-shadow);
  border-radius: 10px;
  font-size: 20px;
  color: #000000db;
} */
.user-response {
  box-shadow: var(--primary-box-shadow);
  background: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}
#btn-check {
  border: none;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  margin-bottom: 1rem;
  display: inline-block;
}
#btn-check:hover {
  background: rgb(0, 223, 0);
  box-shadow: var(--primary-box-shadow);
}
.message-icon {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(0, 255, 0);
}
.btn-check-hide {
  display: none;
}
.hide {
  display: none;
}
#user-res {
  /* text-align: center; */
  display: flex;
  font-size: 12px;
}
textarea {
  width: 100%;
  margin: auto;
  margin-top: -40px;
}
code {
  padding: 0;
  margin-left: 0;
  display: flex;
  font-size: 14px;
}
@media (max-width: 500px) {
  code {
    font-size: 10px;
  }
}
.message {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
  font-weight: bold;
}
#incorrect-msg {
  color: red;
  text-align: center;
  font-weight: bold;
  outline: 1px solid red;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--primary-box-shadow);
}
#level-complete {
  outline: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
}
input {
  border: none;
  outline: none;
}
/* APP SECTION ------- */

/***************************************/
/* FOOTER */
/* footer {
  background: green;
  height: 10vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
} */

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
/***************************************/
/* FOOTER */
/* MDN SCROLLER */
/* MDN SCROLLER */
***************************************/
/* LEFT TEXT STYLER */
.col1
{

  width: 450px;
  right: 500px;
  length: -450px;
  float:left;
  margin: 10px;
  
}


.col2
{
  position: relative;
  right: -520px;
  width: 450px;
  length: -450px;
  float:center;
  margin: 10px;
  
}